#order-total-row{
    display: none;
    padding-bottom: 1px;
    position: relative;
    left: 40px;
    padding-right: 100px;
}

#order-bottom-btns-row{
    display: none;
    padding-top: 40px;

}

#items-info-container {
    position: relative;
    left: 40px;
    padding-top: 50px;
    padding-right: 100px;


}


#category_div{
    padding-top: 20px;
    text-align: center;
}

body {
    background-color: white;
    background-size: cover;
    border-bottom: hidden;

}

.nav>li>a.active {
    background-color: black;

}


.nav-pills a{
    color: black;

}
.nav>li>a:visited {

}

.nav>li>a:hover {
    background-color: whitesmoke;
}
h2 {
    text-align: center;
}

#logo_id {
    padding-top: 40px;
}


#checkout-btn {
    position: relative;
    left: 336px;
    color: white;


}

#add-items-btn {
    position: relative;
    left: 90px;
    color: black;
}

#order_item_div {
    text-decoration: underline;
    padding-bottom: 5px;
}

#order_stock_div {
    text-decoration: underline;
    padding-bottom: 5px;
}

#order_quantity_div {
    text-decoration: underline;
    padding-bottom: 5px;
}

#order_price_div {
    text-decoration: underline;
    padding-bottom: 5px;
}


.col-md-3 {
    padding-bottom: 10px;
}