#order-total-row{
    display: none;
    padding-bottom: 1px;
    position: relative;
    left: 140px;
    padding-right: 100px;
}

#order-bottom-btns-row{
    display: none;

}

#items-info-container {
    position: relative;
    left: 140px;
    padding-top: 50px;
    padding-right: 100px;

}


#category_div{
    padding-top: 20px;
}

body {
    background-color: darkred;
    background-size: cover;
    border-bottom: hidden;

}

.nav>li>a.active {
    background-color: white;
}


.nav-pills a{
    color: black;

}

.nav>li>a:hover,.nav>li>a:visited {
    background-color: #222;
}
h2 {
    text-align: center;
}

#checkout-btn {
    position: relative;
    left: 493px;


}

#add-items-btn {
    position: relative;
    left: 736px;
}

#order_item_div {
    text-decoration: underline;
    padding-bottom: 5px;
}

#order_stock_div {
    text-decoration: underline;
    padding-bottom: 5px;
}

#order_quantity_div {
    text-decoration: underline;
    padding-bottom: 5px;
}

#order_price_div {
    text-decoration: underline;
    padding-bottom: 5px;
}


.col-md-3 {
    padding-bottom: 10px;
}