.container{
    background: lightgray;
    border: black 1px solid;
    width: 70%;
    margin-top: 200px;
}


body {
    background-color: tomato;
    background-size: cover;
    border-bottom: hidden;

}
